<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
    {% include 'bs4_form.html' with form=form %}
  <!-- {//{ form.as_p }} -->
  <button type="submit" class="btn btn-default">Login</button>
  <button type="reset"  class="btn btn-default">Cancel</button>
    <div class="etc-login-form">
       <a href="{% url 'password_reset' %}">forgot password</a> |
       <a href="{% url 'signup' %}">Register</a>
    </div>

</form>
{% endblock %}